/* NAV */
nav {
  background-color: #FFCA03;
}

.nav-link {
  color: black;
  font-family: 'Times New Roman', Times, serif;
  padding-left: 1%;
  padding-right: 1%;
}

.nav-pills {
  --bs-nav-pills-link-active-color:#FFCA03;
  --bs-nav-pills-link-active-bg: black;
}
:root {
  --bs-link-hover-color: none;
}

/* BODY */
body {
  background-color: #ddd;

}

h2 {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

.lista {
  list-style-type: none;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}
.texto {
  font-family: 'Times New Roman', Times, serif;
}
.fondoPag {
  margin: 1%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border: solid black 2px;
  border-radius: 5px;
  background-color: #FFCE45;
  
}

/*FOOTER*/
footer {
  text-align: center;
  padding: 2%;
}
.redes{
  padding: 2%;
  text-decoration: none;
  color: black;
}
.lineaDivisoria {
  background-color: black;
  margin-left: 10%;
  margin-right: 10%;
  height: 1px;
  margin-bottom: 1%;
}

/*Quienes somos*/
.fotoQuienes {
  text-align: center;
}
.fotoQuienes img{
  width: 200px;
  padding-bottom: 2%;
}

/*Nuestros Trabajos*/
.col img{
  max-height: 95%;
  margin-left: -2%;
}

/*Sistema Constructivo*/
.imagenSistema{
  padding-left: 10%;
}
.imgSistema{
  width: 80%;
}

/*CONTACTO*/

.aCompletar{
  margin: 1%;
  width: 90%;
}
.formulario textarea{
  width: 90%;
  height: auto;
  margin: 1%;
}
.botones {
  display: inline-block;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 2%;
}

.col ul{
  margin-top: 2%;
  list-style-type: none;
}
.col li{
  text-align: left;
  padding-top: 5%;
}
