/*FOOTER*/
footer {
    text-align: center;
    padding: 2%;
  }
  .redes{
    padding: 2%;
    text-decoration: none;
    color: black;
  }
  .lineaDivisoria {
    background-color: black;
    margin-left: 10%;
    margin-right: 10%;
    height: 1px;
    margin-bottom: 1%;
  }
  .textoFoot{
    font-weight:500;
    font-size: small;
    text-align: left;
    margin: 0;
    margin-top: 2%;
  }